@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Comfortaa', cursive;
    color: black;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: gray;
}

img {
    width: 100%;
}

.img-section {
    margin: 50px;
    width: 30%;
    border-radius: 20px;
}

header nav {
    font-family: 'Poiret One', cursive;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

header ul {
    display: flex;
}

header img {
    width: 150px;
}

header nav li {
    padding: 0px 30px;
    font-size: 1.3em;
}

#header-2 {
    background-image: url("../img/img1.png");
    background-color: rgb(114, 189, 164);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Days One', sans-serif;
    color: white;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
    max-width: 100%;
    height: auto;
    text-shadow: 2px 2px 8px black;
}

#header-2 h1 {
    font-size: 5.6vw;
    margin-bottom: 20px;
}

#header-2 p {
    font-size: 2vw;
    margin-bottom: 20px;
}

.myBtn {
    border-radius: 50px;
    padding: 15px;
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    min-width: 50px;
    max-width: 300px;
}

.mainTitle {
    font-size: 5vh;
    font-weight: 700;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainTitle i {
    font-size: 10vh;
    padding: 30px;
}

.presentation {
    display: flex;
    align-items: center;
    font-size: 1.2vw;
}

.pre-1 {
    align-self: flex-start;
    flex-direction: row;
    text-align: left;
}

.pre-2 {
    align-self: flex-end;
    flex-direction: row-reverse;
    text-align: right;
}

@media(max-width: 1200px){
    #header-2 p {
        font-size: 3vw;
        margin-bottom: 20px;
    }
    .presentation {
        font-size: 1.5vw;
    }
}

@media(max-width: 700px){
	header nav img {
        margin-bottom: 15px;
    }
	header nav {
        font-size: 80%;
        flex-direction: column;
    }
    #header-2 p {
        font-size: 5vw;
        margin-bottom: 20px;
    }
    .presentation {
        flex-direction: column;
        font-size: 2.4vw;
        text-align: center;
    }
    .img-section {
        width: 70%;
    }
    .mainTitle {
        font-size: 3vh;
    }
    .mainTitle i {
        font-size: 7vh;
        padding: 10px;  
    }
}